/* Font Imports and Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BookCard Styles */
.book_item {
  width: 200px;
  height: 360px;
  margin: 10px;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Hide overflowing content */
  position: relative; /* Relative positioning for pseudo-element */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.book_item:hover {
  transform: translateY(-5px); /* Lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.book_content {
  padding: 0 1.5rem; /* Increased padding */
}

.book_title {
  font-family: "Nunito Sans", sans-serif; /* Custom font */
  font-weight: 600;
  font-size: 1.2rem;
  color: #333; /* Darker text color */
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 80px;
  overflow: hidden;
}

.book_details {
  font-size: 0.9rem;
  color: #777; /* Lighter text color */
}

.book_details span {
  font-weight: 600;
  color: #555; /* Slightly darker */
}

a {
  text-decoration: none;
}

/* Image Styles */
.book_item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px; /* Rounded corners for image */
  border-top-right-radius: 8px;
}

/* Gradient Background */
.book_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 160, 122, 0) 0%,
    rgba(255, 160, 122, 0.5) 100%
  );
  z-index: -1; /* Ensure the gradient is behind other content */
}
