/* PopUp.module.css */

.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* drop shadow */
  overflow-y: auto; /* Make content scrollable */
  max-height: calc(100vh - 100px); /* Maximum height for content */
}

.popup_close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.payment_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* drop shadow */
  overflow-y: auto; /* Make content scrollable */
  max-height: calc(100vh - 100px); /* Maximum height for content */
}

.paymentmethod {
  margin-bottom: 20px;
}

.paymentmethod h3 {
  margin-bottom: 10px;
}

.paymentmethod ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.paymentmethod li {
  padding: 0;
  margin: 0;
  width: max-content;

}

