.footer_container {
  display: flex;
  height: 106px;

  justify-content: center;
  align-items: center;
}
.footer_row {
  border-top: solid 1px #c5c5c5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}
.social_link {
  display: flex;
  gap: 15px;
}
.icon {
  width: 30px;
}

.page_logo {
  margin-left: 1065px;
}
.logo_icon {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ff6347;
  line-height: 150%;
}
