.homepage {
  display: flex;
  flex-direction: column;
}

.banner {
  padding-left: 200px;
  margin-bottom: 60px;
}
.top_banner {
  width: 1000px;
}

.promotion_books {
  margin-left: 60px;
  margin-bottom: 60px;
}
.promotion_books_label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ff6347;
  line-height: 150%;
}
.promotion_books_product {
  margin-top: 10px;
}

.new_books {
  margin-left: 60px;
  margin-bottom: 60px;
}
.new_books_label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ff6347;
  line-height: 150%;
}
.new_books_product {
  margin-top: 10px;
}
