/* Book.module.css */
.mainContainer {
  display: flex;
  flex-direction: column;
}

.page_content {
  display: grid;
  grid-template-columns: 20% 79%; /* Sidebar, Main content, Blank */
  margin: 0 auto;
  max-width: 1200px; /* Adjust as needed */
}
