.book {
  display: flex;
}

.bookdetail {
  text-align: left;
}
/* BookDetail.module.css */

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main_img {
  height: 500px;
  width: 35%;
  object-fit: cover;
  margin-right: 20px;
}

.bookdetail {
  display: flex;
  flex-direction: column;
  color: #333; /* Text color */
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #f58220; /* Orange theme color */
}

.author {
  margin-top: 10px;
  color: #555; /* Author text color */
}

.author_name {
  display: flex;
  flex-wrap: wrap;
}

.author_name p {
  margin-right: 10px;
}

.genre {
  margin-top: 10px;
  color: #555; /* Genre text color */
}

.genre_name {
  display: flex;
  flex-wrap: wrap;
}

.genre_name p {
  margin-right: 10px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #f58220; /* Price text color */
}

.rate_price {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating {
  margin-right: 10px;
}

.sold {
  font-size: 16px;
  color: #888; /* Sold text color */
}

.cart,
.buy {
  padding: 12px 24px;
  margin-top: 20px;
  background-color: #f58220; /* Orange theme color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.cart:hover,
.buy:hover {
  background-color: #e66a00; /* Darker shade of orange */
}

.comment_sect {
  margin-top: 30px;
}

.comment_sect p {
  font-size: 20px;
  font-weight: bold;
  color: #f58220; /* Orange theme color */
}

.comment {
  margin-top: 15px;
}

.comment div {
  margin-bottom: 25px;
}

.comment p {
  margin: 8px 0;
}

.comment p:first-child {
  font-weight: bold;
}
