body {
  background-color: #f0f0f0; /* Light mode background color */
}

.App.dark-mode {
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

.toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333; /* Default icon color */
}

.App.dark-mode .toggle-button {
  color: #fff; /* Dark mode icon color */
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it is above other content */
  background-color: white; /* Ensure it has a background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
}