.header_container {
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-items: center;
}
.content_row {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.choose_button {
  width: 99px;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 8px;
  padding-top: 8px;
}
.choose_label {
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #828282;
  line-height: 150%;
}

.search_bar {
  display: flex;
  gap: 400px;
  width: 493px;
  height: 30px;
  border-bottom: solid 1px #ff6347;
  padding-top: 5px;
  margin-top: 5px;
}
.search_label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ff6347;
  line-height: 150%;
}
.search_icon {
  width: 20px;
}
.search_result {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.homepage_nav {
  margin-top: 5px;
}
.homepage_label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ff6347;
  line-height: 150%;
}

.profile_nav {
  margin-top: 5px;
}
.profile_label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ff6347;
  line-height: 150%;
}

.cart_nav {
  margin-top: 5px;
}
.cart_label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ff6347;
  line-height: 150%;
}

.order_nav {
  margin-top: 5px;
}
.order_label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ff6347;
  line-height: 150%;
}
.login_button {
  display: flex;
  background-color: #ff6347;
  width: 126px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
}
.login_label {
  margin-left: 24px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 150%;
}
.book_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add some margin if needed */
}
.search_box {
  width: 10;
}
